# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Mask detection\Review 2\Covid19-Face-Mask-Detector-master\Covid19-Face-Mask-Detector-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
